*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Cabin', sans-serif;
}
.header{
	box-shadow: 0 2px 4px rgba(0,0,0,.2);	
}
.menu{	
	list-style: none;
	display: flex;
	justify-content: flex-end;
}
.menu-link{
	text-decoration: none;
	color: black;
	display: block;
	padding: 1em;
	transition: all .3s;
}
.menu-item:hover > .menu-link{
	color: #E65100;
}

/*Article*/
main{
	width: 90%;
	max-width: 1000px;	
	margin: 20px auto;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.75);
}
main article h1{
	font-weight: normal;
	margin-bottom: .5em;
}
.divider{
	height: 2px;
	background-color: #4357ad;
	border: none;
	margin-bottom: 1em;
}
main article p{
	margin-bottom: 1em;
}